
@inject IJSRuntime JS

@if (selectedRoom != null)
{
    <div id='roomModal' class='modal' role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h3 form-padding-left"> @selectedRoom?.roomType.Name</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideRoomAsync">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (selectedRoom?.roomImages.Count > 0)
                    {
                        <div id="carouselExampleControls" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">

                                @foreach (var imgs in selectedRoom.roomImages)
                                {
                                    <div class="carousel-item @(imgs.MainImage == true ? "active" : "")">
                                        <a class="simple-img"><img src="@($"https://localhost:44325/{imgs.FileName}")" class="d-block w-100" alt="Room Image" /></a>
                                    </div>
                                }

                            </div>
                            @if (selectedRoom.roomImages.Count >= 2)
                            {
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            }
                        </div>
                    }
                    <div class="my-3">
                        <h5>Room Details</h5>
                        <p>@selectedRoom.roomType.Description</p>

                        @if (selectedRoom.roomFeatures.Count > 0)
                        {
                            <h5>Special Features</h5>
                            <ul class="fa-ul">
                                @foreach (var feature in selectedRoom.roomFeatures)
                                {
                                    var icon = (MarkupString)($"&#x{feature.Icon};");
                                    <li>
                                        <i class="fa-li fa">@icon</i>
                                        @feature.Features
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideRoomAsync">Close</button>
                </div>
            </div>
        </div>

    </div>
}

@code {
    [Parameter] 
    public ViewRoomModel? selectedRoom { get; set; }
   

    public Task ShowAsync()
    {
        StateHasChanged();
        return Task.CompletedTask;
    }

    public void HideRoomAsync()
    {
        selectedRoom = null;      
        StateHasChanged();
    }
    
}
